.education-parent-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.education-content-conatiner{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.education-content{
    width: 95%;
    border-radius: 20px;
    box-shadow: 0px 0px 10px -2px #1f2235;
    margin-bottom: 2%;
    padding: 2% 3% 2% 3%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

