.award-parent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2% 2% 0% 2%;
}


.award-content-parent-conatiner{
    width: 100%;
}

.rec-dot_active{
    box-shadow: 0 0 1px 3px rgb(245 127 23) !important;
    background-color:rgba(245 ,127 ,23, 0.5)  !important;
}

.rec-arrow:hover:enabled{
    box-shadow: 0 0 1px 3px rgb(245 127 23) !important;
    background-color:rgba(245 ,127 ,23, 0.5)  !important;
}

.rec-arrow{
    box-shadow: 0 0 1px 3px rgb(245 127 23) !important;
    background-color:rgba(255, 245, 235, 0.5)  !important;
}

.rec-pagination{
    margin-top: 0px !important;
}


@media only screen and (max-width:500px) {

    .rec-arrow-right{
       display: none !important;
    }

    .rec-arrow-left{
        display: none !important;
     }
}