.experience-parent-box{
    border: solid;
    border-width: 1px;
    border-color: #999999;
    background-color: white;
    opacity: 1;
    border-radius: 20px;
    margin: 2%;
}

.experience-content-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2% 3% 2% 3%;

}

.title-duration-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title-row{
    color:#F57F17;
    font-size: 20px;
    font-family: "Poppins ExtraBold";
}

.duration-row{
    color:#4d4d52;
    font-size: 20px;
    font-family: "Poppins";
    font-weight: 600;
}

.organization-row{
    color:#4d4d52;
    font-size: 15px;
    font-family: "Poppins ExtraBold";
}

.bullet-div{
    height: 20px;
    width: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bullet{
    background-color:#4d4d52;
    height: 10px !important;
    width: 10px !important;
    border-radius: 10px;
}

.role-style{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
